streamlit==1.32.0
pandas==2.2.1
python-dotenv==1.0.1
PyPDF2==3.0.1
requests==2.31.0
pydantic>=1.10.0,<2.0.0
beautifulsoup4==4.12.3
openai==1.12.0
fpdf2==2.7.8
fpdf==2.7.6
ollama==0.1.6
watchdog==4.0.0 